<div class="sticky">

    <div class="row" id="navbar1">
      <h2 class="col-2">Menu</h2>
      <a class="btn col-2" href="#" > Home</a>
      <a class="btn col-2" href="#aboutCom" >About Me</a>
      <a class="btn col-2" href="#expCom" >Work Exp</a>
      <a class="btn col-2" href="#projectCom" >Project</a>
    </div>

    <div class="row" id="navbar2">
      <h2 class="col-2">Menu</h2>
      <a class="col-2" href="#"><img src="../../assets/img/home.svg" alt=""></a>
      <a class="col-2" href="#aboutCom"><img src="../../assets/img/avatar.svg" alt=""></a>
      <a class="col-2" href="#expCom"><img src="../../assets/img/exp.svg" alt=""></a>
      <a class="col-2" href="#projectCom"><img src="../../assets/img/project.svg" alt=""></a>
    </div>
  </div>


<!-- <div class="sticky">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </div>
        </div>
      </nav>
</div> -->