<div class="sticky">

    <div class="row" id="navbar1">
      <h2 class="col-3">Menu</h2>
      <a class="btn col-2" href="#" > Home</a>
      <a class="btn col-2" href="#aboutCom" >About Me</a>
      <a class="btn col-2" href="#expCom" >Work Exp</a>
      <a class="btn col-2" href="#projectCom" >Project</a>
    </div>

    <div class="row" id="navbar2">
      <h2 class="col-4">Menu</h2>
      <a class="col-2" href="#"><img src="../../assets/img/home.svg" alt=""></a>
      <a class="col-2" href="#aboutCom"><img src="../../assets/img/avatar.svg" alt=""></a>
      <a class="col-2" href="#expCom"><img src="../../assets/img/exp.svg" alt=""></a>
      <a class="col-2" href="#projectCom"><img src="../../assets/img/project.svg" alt=""></a>
    </div>
  </div>

