<div class="sticky">
  <div class="row">
    <div class="row" id="navbar1">
      <div class="col-2">
        <h2>Menu</h2>
      </div>
      <div class="col-2">
        <a href="#">
          <button class="btn btn-success">Home</button>
        </a>
      </div>
      <div class="col-2">
        <a href="#aboutCom">
          <button class="btn btn-info">About Me</button>
        </a>
      </div>
      <div class="col-2">
        <a href="#expCom">
          <button class="btn btn-primary">Work Exp</button>
        </a>
      </div>
      <div class="col-2">
        <a href="#projectCom">
          <button class="btn btn-secondary">Project</button>
        </a>
      </div>
    </div>
    <div class="row" id="navbar2">
      <div class="col-3">
        <h2>Menu</h2>
      </div>
      <div class="col-2">
        <a href="#">
          <img src="../../assets/img/home.svg" alt="">
        </a>
      </div>
      <div class="col-2">
        <a href="#aboutCom">
          <img src="../../assets/img/avatar.svg" alt="">
        </a>
      </div>
      <div class="col-2">
        <a href="#expCom">
          <img src="../../assets/img/exp.svg" alt="">
        </a>
      </div>
      <div class="col-2">
        <a href="#projectCom">
          <img src="../../assets/img/project.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>