<div class="poster" *ngIf="data">
  <div class="content">
    <h1>{{data.title}}</h1>
    <hr>
    <p [innerHTML]="data.content"></p>
    <br><br>
    <div>
      <div class="row" >
        <div class="col-md-4">
          <img src="{{data.personal.img}}" id="profile">
        </div>
        <div class="col-md-8">
          <h2>{{data.personal.title}}</h2>
          <hr>
          <p [innerHTML]="data.personal.content"></p>
          <hr>
        </div>
      </div>
      <br>
      <div>
        <h2 >{{data.education.title}}</h2>
        <hr>
        <div class="row" >
          <div class="col-md-4" style=" text-align: center;">
            <img src="{{data.education.img}}" id="logo">
          </div>
          <div class="col-md-8" style=" text-align: left;">
            <p  [innerHTML]="data.education.content"></p>
          </div>
        </div>
        <hr>
      </div>
      <br>
      <div>
        <h2 >{{data.skills.title}}</h2>
        <hr>
        <div class="row">
          <p>
             <span *ngFor="let item of data.skills.content" class="badge badge-pill badge-light">{{item}}</span>
          </p>
        </div>
        <hr>
      </div>
      <br>
      <div>
        <h2 >{{data.other.title}}</h2>
        <hr>
        <div class="row">
            <p [innerHTML]="data.other.content"></p>
        </div>
        <hr>
      </div>
      <br>
      <div>
        <h2 >{{data.social.title}}</h2>
        <hr>
        <div class="row">
          <div *ngFor="let item of data.social.content">
            <a href="{{item.url}}" target="_blank">
              <img class="img-fluid" src="{{item.img}}" alt="">
            </a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>