<div class="layout">
  <nav class="navbar navbar-expand-lg navbar-light on-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo" src="{{IMAGES_ENDPOINT}}logo.jpg?alt=media&token=27731c6a-acbb-482a-8d81-8511dbb9e2fa" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/FighttoSitthinon">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>