<div class="panel">
  <div class="content">
    <h1 *ngIf="data">{{data.title}}</h1>
    <hr>
    <div>
      <div *ngIf="data">
        <div *ngFor="let item of data.content">
          <div class="card">
            <div class="card-header">
              <h4>
                {{item.title}}
              </h4>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <div class="card-text row">
                  <div class="col-lg-6">
                    {{item.desc}}
                  </div>
                  <div class="col-lg-6" style="text-align:right;">
                    <a href="{{item.link}}" target="_blank" class="btn btn-secondary">Go to Github >></a>
                  </div>
                </div>
                <footer class="blockquote-footer">First commit : {{item.date}}</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>