<div class="page page-1" id="page-1">
  <div class="container">
    <div class="white-card"></div>
    <div class="white-card-2"></div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-5">
          <div class="main-image-container">
            <img class="main-image" src="{{IMAGES_ENDPOINT}}profile-1.jpg?alt=media&token=7638f75d-38e8-4ba4-9615-4ad783ac8c10" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="main-profile-container">
            <div class="main-profile">
              <p class="header">Sitthinon Chanaritthichai</p>
              <p>Nickname: Fight</p>
              <p>Date of Birth: July 11, 1997</p>
              <p>Nationality: Thai</p>
              <p>Military Status: Military Studies</p>
              <p>
                Email: <a href="mailto:sitthinon.c@hotmail.com">sitthinon.c@hotmail.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>

<div class="page page-2" id="page-2">
  <div class="container">
    <div class="page-card-2"></div> 
    <div class="page-card-3"></div>
    <div class="page-content">
      <p class="title">
        Education
      </p>
      <p>August 2015 – May 2019</p>
      <p>B.S. (Computer Science),</p>
      <p>Kasetsart University Kamphaeng Saen Campus</p>

    </div>
    <div class="page-card">
      <div class="image-container">
        <img src="{{IMAGES_ENDPOINT}}profile-2.jpg?alt=media&token=9c6b0e4f-51a8-4ce6-abf1-ce5a37dbed70" alt="">
      </div>
    </div>
  </div>
</div>

<div class="page page-3" id="page-3">
  <div class="container">
    <div class="page-card"></div>
    <div class="page-content">
      <p class="title">
        Work Experience
      </p>
      <div class="timeline">
        <ul>
          <li>
            <div class="content">
              <h3>Web Developer</h3>
              <p>Zipevent Co. Ltd.</p>
            </div>
            <div class="point"></div>
            <div class="date">
              <h4>July 2019 – Present </h4>
            </div>
          </li>
          <li>
            <div class="content">
              <h3>Internship and Cooperative Education </h3>
              <p>IT One Co. Ltd.</p>
            </div>
            <div class="point"></div>
            <div class="date">
              <h4>June 2018 – Nov 2018 </h4>
            </div>
          </li>
          <li>
            <div class="content">
              <h3>Microsoft Innovation Center 2017</h3>
              <p>Microsoft (Thailand) Limited</p>
            </div>
            <div class="point"></div>
            <div class="date">
              <h4>June 2017 – July 2017</h4>
            </div>
          </li>
          <li>
            <div class="content">
              <h3>Waiter (Part-time)</h3>
              <p>Swensen’s Fortune Tower</p>
            </div>
            <div class="point"></div>
            <div class="date">
              <h4>March 2015 – July 2015</h4>
            </div>
          </li>
          <li>
            <div class="content">
              <h3>Waiter (Part-time)</h3>
              <p>Sizzler Rama 9</p>
            </div>
            <div class="point"></div>
            <div class="date">
              <h4>February 2013 – October 2014</h4>
            </div>
          </li>
          ...
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page page-4"  id="page-4">
  <div class="container">
    <div class="page-content">
      <p class="title">
        My Article
      </p>
      <div class="list-article">
        <a href="https://www.dek-d.com/board/view/3559454/" target="_blank">
          <div class="article">
            <div class="cover-container">
              <img src="{{IMAGES_ENDPOINT}}dek-d-cover.png?alt=media&token=bb217786-d42f-4b92-b5f9-8fb1be73d16b" alt="" class="cover">
            </div>
            <div class="description">
              <p class="block-ellipsis">
                [Review] มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตกำแพงแสน (ของดีไม่ได้มีเพียงชมพูพันธุ์ทิพย์?)
              </p>
            </div>
          </div>
        </a>

        <a href="https://www.dek-d.com/board/view/3660446/" target="_blank">
          <div class="article">
            <div class="cover-container">
              <img src="{{IMAGES_ENDPOINT}}dek-d-cover.png?alt=media&token=bb217786-d42f-4b92-b5f9-8fb1be73d16b" alt="" class="cover">
            </div>
            <div class="description">
              <p class="block-ellipsis">
                [Review] มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตกำแพงแสน Part 2 (ตึกคณะนั้นไซร้ ยากแท้หยั่งถึง!??)
              </p>
            </div>
          </div>
        </a>

        <a href="https://www.zipeventapp.com/blog/2020/01/27/creative-talk-conference-2020/" target="_blank">
          <div class="article">
            <div class="cover-container">
              <img src="{{IMAGES_ENDPOINT}}ctc-2020-cover.jpg?alt=media&token=cfaab57e-b907-4fa9-a434-a72e80d1d0e0" alt="" class="cover">
            </div>
            <div class="description">
              <p class="block-ellipsis">
                Creative Talk Conference 2020 รีวิวแบบฉบับชาว Dev
              </p>
            </div>
          </div>
        </a>
        
      </div>
    </div>
  </div>
</div>
