.page{
    min-height: 100vh;
    height: 100%;
    position: relative;
}

.page.page-1{
    background-color: #ffeddf;
    padding-top: 70px;
}

.page .page-content{
    z-index: 2;
    position: relative;
}

.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;    
    z-index: 0;
}

.circle.circle-1{
    top: -156px;
    left: -137px;
}

.circle.circle-2{
    bottom: -156px;
    right: -137px;
}

.main-image-container, .main-profile-container{
    height: calc(100vh - 65px);
    position: relative;
    width: 100%;
}

.main-image-container .main-image{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page.page-1 .white-card{
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
}

.page.page-1 .white-card-2{
    background-color: #fff;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 48vw;
    border-radius: 0 0 10px 0;
}

.main-profile{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-profile p{
    font-size: 18px;
    text-indent: 15px;
}
.main-profile .header{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-indent: 0;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 30px;
}


.page.page-2{
    position: relative;
}

.page .title{
    font-size: 35px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid #4a4a4a;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 30px;
    max-width: 300px;
}

.page.page-2 .page-card{
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    z-index: 1;
}

.page.page-2 .page-card-2{
    background-color: #01696a;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.page.page-2 .page-card-3{
    background-color: #b2bb1e;
    height: calc(100vh - 180px);
    position: absolute;
    bottom: 180px;
    left: 0;
    width: 45px;
}

.page.page-3 .page-card{
    background-color: #ffeddf;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
}


.image-container{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image-container img{
    position: absolute;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kukps-logo{
    width: 200px;
    margin: auto;
}

.timeline {
    position: relative;
    margin: 55px auto 0 auto;
    width: 90%;
}

.timeline ul{
    padding: 0 !important;
}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point {
    min-width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    z-index: 2;
    border: 3px #f87060 solid;
    position: relative;
    left: 1px;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
    padding-left: 0;
}

.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

.timeline ul li .date h4 {
    background-color: #ffffff;
    width: 100%;
    max-width: 325px;
    text-align: center;
    padding: 7px 12px;
    border-radius: 10px;
    font-size: 20px;
    color: #f87060;
    border: 1px solid #f87060;
}

.timeline ul li .content h3 {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #39a9db;
    margin-bottom: 0;
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: #fff;
}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: #fff;
    margin-top: 0;
    text-align: center;
    border: 1px solid #39a9db;
    border-radius: 0 0 10px 10px ;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
    float: right
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #b1b0b0;
}

@media (max-width: 800px) {
    .point {
        min-width: 15px;
        height: 15px;
    }
}

@media (max-width: 650px) {
    .point {
        min-width: 12px;
        height: 12px;
    }
}

.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.8;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article{
    border: 1px solid #dedede;
    border-radius: 10px;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    margin: 7px 16px;
    transition: 0.25s all;
}

.article:hover{
    transform: scale(1.02);
    box-shadow: 0 1px 8px #dedede;
}

.article .cover-container{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
}

.article .cover-container .cover{
    width: 100%;
    height: 100%;
}

.article .description{
    padding: 12px;
    font-weight: 600;
    height: 95px;
}

#page-5 {
    background: rgb(49, 49, 49);
}

#page-5 .title{
    color: #fff;
    border-bottom: 2px solid rgb(0, 184, 79);
    position: relative;
}
/* 
#page-5 .title::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50px;
    bottom: 0;
    width: 133px;
    background-color: rgb(0, 184, 79);
    z-index: -1;
} */
.sticker-list{
    padding: 20px 0;
    text-align: center;
}

.sticker-list .sticker-item{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #dedede;
    display: inline-block;
    margin: 25px 0;
    max-height: 280px;
    max-width: 100%;
    position: relative;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.sticker-list .sticker-item img{
    width: 100%;
    position: relative;
    margin: auto;
    display: block;
}

.sticker-list .sticker-item:hover{
    border: 2px solid rgb(0, 184, 79);
    border-radius: 10px;
}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .page.page-1{
        padding-bottom: 30px;
    }
    .main-image-container, .main-profile-container{
        height: calc(100vh - 140px);
    }
    .page.page-2 .page-content{
        padding-left: 15px;
    }
    .page.page-2 .page-card{
        height: 70vh;
        position: relative;
        width: 100%;
        margin-top: 40px;
    }

    .page.page-2 .page-card-3{
        width: 12px;
    }

    .page.page-3 .page-card{
        display: none;
    }

    .timeline ul li .content h3 {
        padding: 10px;
    }

    .list-article{
        text-align: center;
    }

    .list-article .article{
        margin: 7px auto;
    }

    .timeline{
        width: 100%;
    }
}
/*  Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    nav{
        background-color: #fff !important;
    }
    .white-card, .white-card-2{
        display: none;
    }
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    
 }