<div class="page page-1">
  <div class="container">
   
    <!-- <div class="circle circle-1"></div> -->
    
    <div class="white-card"></div>
    <div class="white-card-2"></div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-5">
          <div class="main-image-container">
            <img class="main-image" src="{{IMAGES_ENDPOINT}}profile-1.jpg?alt=media&token=7638f75d-38e8-4ba4-9615-4ad783ac8c10" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="main-profile-container">
            <div class="main-profile">
              <p class="header">Sitthinon Chanaritthichai</p>
              <p>Nickname: Fight</p>
              <p>Date of Birth: July 11, 1997</p>
              <p>Nationality: Thai</p>
              <p>Military Status: Military Studies</p>
              <p>
                Email: <a href="mailto:sitthinon.c@hotmail.com">sitthinon.c@hotmail.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>

<div class="page page-2">
  <div class="container">
    Hello World
  </div>
</div>

<div class="page page-3">
  <div class="container">
    Hello World
  </div>
</div>